[submodule "3drecon"]
	path = 3drecon
	url = https://github.com/DarkDefender/3drecon.git
[submodule "spsstereo"]
	path = spsstereo
	url = https://github.com/DarkDefender/spsstereo.git
[submodule "ORB_SLAM2"]
	path = ORB_SLAM2
	url = https://github.com/DarkDefender/ORB_SLAM2.git
	branch = tsbb11
